body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/islande.jpeg);
    background-attachment: fixed;
    background-size: cover;
  }

  
  header {
    background-color: #9bc3dfc6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    position: sticky;
    top: 0%;
    border-radius: 20px;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-radius: 20px;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
  }
  
  nav ul li:hover > a {
    color: lightblue;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color:  #9bc3dfc6;
    box-shadow: 0px 5px #6a869ab3;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
    border-radius: 20px;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 200px;
  }
  
  nav ul li:hover {
    background-color: white;
    border-radius: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0%;
    /* background-image: url(../images/japan.jpeg);
    background-attachment: fixed;
    background-size: cover; */
    border-radius: 20px;
  }
  
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2%;
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 5px 5px 5px rgb(66, 104, 120);
  }
  
  section {
    background-color: rgba(207, 226, 230, 0.715);
    padding: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    float: left;
    width: 75%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
  }

  .para {
    display: flex;
    align-self: center;
  }

  /* p {
    border: 2px black solid;
  } */
  
  section h3 {
    margin-top: 0;
    font-size: 30px;
    display: flex;
  }
  
  section p {
    font-size: 25px;
    line-height: 1.5;
    text-align: justify;
  }

  
  figure img {
    box-shadow: 10px 10px 10px #6a869ab3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
    border-radius: 20px;
  }

  .image-container {
    position: relative;
  }
  
  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width:max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  .image-container:hover .text-container {
    opacity: 1;
  }

  /* aside {
    background-color: rgba(206, 137, 95, 0.877);
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 5px 5px 5px #6a869ab3;
    float: right;
    margin-right: 10px;
    position: absolute;
    top: 51.5%;
    right: 7%;
    margin-right: -125px; 
    width: 350px; 
    transform: translateY(-50%);
    position: fixed;
  }

  aside h3 ul li img {
    position: sticky;
    top: 0%;
  }
  
  aside h3 {
    margin-top: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  aside img {
    width: 45px;
    height: 45px;
  }
  
  ul li {
    margin-bottom: 20px;
  }
  
  ul li img {
    margin-right: 20px;
    vertical-align: middle;
  } */
  
  footer {
    background-color: #33333377;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 98.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0%;
    font-size: 25px;
    border-radius: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }

  .contact {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }

  .contact :link {
    text-decoration: none;
    color: white;
  }
  
  .contact :visited {
    color: white;
  }
  
  .contact :hover {
    font-size: 30px;
    transition: 0.5s;
    color: #9bc3df;
  }

  .retrouveznous {
    font-weight: bold;
    font-size: 25px;
  }

  .reseaux li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .reseaux img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }

  .mentions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bolder;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  ul ul {
    margin-left: 20px;
  }
